%h1 The HomeworkTracker
%strong
  Name:
= @location.name
%br
%strong

%br
= link_to "Create User", new_location_user_path(@location)
%ul
  /= @location.users.inspect
  - @location.users.each do |user|
    %li
      = link_to "#{user.firstname} | #{user.lastname}", location_user_path(@location, user)
      |
      = link_to "Edit", edit_location_user_path(@location, user)
      |
      = link_to "Delete", location_user_path(@location, user), method: :delete
%br
%p Doctors

-@doctors.each do |f|
  %li  
    = f.name
    |
    = link_to "delete", delete_doctor_location_path(@location, @user, doctor_id: f.id), method: :delete
    %br
%br
= form_for @doctor, url: create_doctor_location_path(@location, @user) do |f|
  = f.label "Add New Doctor"
  %br
  = f.text_area :name
  %br
  = f.submit

%br
%li= link_to "Back", locations_path(@location)